header {
  background-color: rgba(165, 42, 42, .7);
  line-height: 64px;
  height: 64px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0; 
  padding-left: 16px;
  z-index: 10;
  backdrop-filter: blur(16px);
  font-family: var(--font-title);
  overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 16px;
  color: #EEE;
  transition: all .2s;
  border-bottom: 0px solid rgba(255,255,255,0);
}

nav li:hover {
  color: white;
  cursor: pointer;
  border-bottom: 2px solid rgba(255,255,255,1);
}