/* The smaller main divisions of a landing page. */
.section-box {
  background-color: white;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,.5);
  border-radius: 8px;
  padding: 16px 5%;
  margin: 16px auto;
  width: 90%;
  box-sizing: border-box;
}

.header-bar {
  width: 90%;
  margin: 0 auto;
}

.button-default-mini, .button-primary-mini, .button-reject-mini, .button-approve-mini {
  border-radius: 4px;
  border: none;
  color: black;
  background-color: #DDD;
  transition: all .1s;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.5);
  font-size: 1em;
}

.button-default-mini:hover {background-color: #EEE; color: #444; }

.button-approve-mini       {background-color: var(--col-approve-dark);  color: white; }
.button-approve-mini:hover {background-color: var(--col-approve);}

.button-reject-mini {background-color: var(--col-primary); color: white; }
.button-reject-mini:hover {background-color: var(--col-primary-light); }

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
thead {
  background-color: var(--col-primary);
  color: #DDD;
}
thead tr {
  height: 48px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 12px 4px;
  border-bottom: 1px dotted #DDD;
}

h1 {
  color: white;
  font-size: 64px;
  margin: 16px auto;
  
  text-shadow: 0px 0px 6px rgba(0,0,0,.5);
}
  

.managerApp {
  position: relative;
}


.eventWidget ul {
  padding: 0;
}

.eventWidget li {
  display: inline;
  margin-right: 32px;
  font-weight: bold;
}

.eventWidget p {
  font-style: italic;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 512px;
  width: 512px;
}

.eventWidget button {
  margin-right: 4px;
}

.btn-back {
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 850px) {
  .inputBox {
    grid-template-rows: auto;
    grid-template-areas:
      "name"
      "imageUpload"
      "details"
      "description"
      "submit";
  }

  .inputBox span, .inputBox input, .inputBox label {
    display: block;
    width: 100%;
  }
  .inputBox label {
    margin: 8px 0;
  }
}

.inputTitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputName {
  margin: 0 8px;
}

.inputLine {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0;
  font-family: var(--font-main);
  grid-area: details;
}

.inputLine span {
  font-weight: bold;
}

.in-name {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 24px;
  margin-bottom: 8px;
  font-family: var(--font-main);
  grid-area: name;
}

.inputButton {
  grid-area: submit;
}

.in-description {
  display: block;
  width: 100%;
  height: 256px;
  resize: none;
  margin: 16px 0;
  grid-area: description;
}

.in-image {
  background: #EEE;
  width: 256px;
  height: 256px;
  grid-area: imageUpload;
}

.inputForm {
  grid-area: form;
}

.back-search-bar input {
  font-size: 1.25em;
  padding: 8px;
  text-align: center;
  outline: none;
  border: 1px solid #DDD;
  border-radius: 4px;
}
