/* The main central strip of a manager landing page */
.landingBox {
  max-width: 1000px;
  margin: 0 auto;
}
/* The smaller main divisions of a landing page. */
.section-box {
  background-color: white;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,.5);
  border-radius: 8px;
  padding: 16px 10%;
  margin: 16px 16px;
}
  

.managerApp {
  position: relative;
}





.eventWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px dotted #EEE;
}

.eventWidget ul {
  padding: 0;
}

.eventWidget li {
  display: inline;
  margin-right: 32px;
  font-weight: bold;
}

.eventWidget p {
  font-style: italic;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 512px;
  width: 512px;
}

.eventWidget button {
  margin-right: 4px;
}

.eventWidget-img {
  width: 64px;
  height: 64px;
  background-color: #EEE;
  margin-right: 32px;
}

.btn-back {
  position: absolute;
  left: 0;
  top: 0;
}

/* New 'item" form Inputs and Box */
.inputBox {
  background-color: white;
  display: grid;
  grid-template-areas: 
    "imageUpload name"
    "imageUpload details"
    "imageUpload description"
    "imageUpload submit";
  grid-template-columns: 272px 1fr;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,.5);
}

@media (max-width: 850px) {
  .inputBox {
    grid-template-rows: auto;
    grid-template-areas:
      "name"
      "imageUpload"
      "details"
      "description"
      "submit";
  }

  .inputBox span, .inputBox input, .inputBox label {
    display: block;
    width: 100%;
  }
  .inputBox label {
    margin: 8px 0;
  }
}

.inputTitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputName {
  margin: 0 8px;
}

.inputLine {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0;
  font-family: var(--font-main);
  grid-area: details;
}

.inputLine span {
  font-weight: bold;
}

.in-name {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 24px;
  margin-bottom: 8px;
  font-family: var(--font-main);
  grid-area: name;
}

.inputButton {
  grid-area: submit;
}

.in-description {
  display: block;
  width: 100%;
  height: 256px;
  resize: none;
  margin: 16px 0;
  grid-area: description;
}

.in-image {
  background: #EEE;
  width: 256px;
  height: 256px;
  grid-area: imageUpload;
}

select {
  width: 128px;
}


.inputForm {
  grid-area: form;
}

/* Main Manager Menu */



