@import url('https://fonts.googleapis.com/css?family=Cormorant|Playfair+Display+SC&display=swap');

/* Global styles */
:root {
  --font-main: 'Cormorant', serif;
  --font-title: 'Playfair Display SC', serif;
  --col-primary: brown;
  --col-primary-light: hsl(0, 65%, 50%);
  --col-secondary: hsl(203, 81%, 34%);
  --col-secondary-light: hsl(203, 81%, 44%);
  --col-default: hsl(0, 0%, 50%);
  --col-default-light: hsl(0, 0%, 60%);
  --col-approve: seagreen;
  --col-approve-dark: darkgreen;
}

/* Basic Element Styling */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
}

h1, h2 {
  font-family: var(--font-title);
  font-weight: normal;
  text-align: center;
}

p {
  font-family: var(--font-main);
}

/* Widespread Class Styling */
.sec-default {
  min-height: 512px;
  background-color: white;
  padding: 16px 10%;
}

.divider {
  border-bottom: 2px dashed #CCC;
}

.center-block {
  display: block;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

.button-primary, .button-secondary, .button-default, .button-confirm {
  height: 40px;
  background: none;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 8px 16px;
  color: white;
  transition: all .2s;
  font-size: 16px;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.5);
}
.button-primary:hover, .button-secondary:hover, .button-default:hover, .button_confirm:hover {
  box-shadow: 0 10px 8px -4px rgba(0,0,0,.3);
  cursor: pointer;
}

.button-primary {background-color: var(--col-primary);}
.button-primary:hover {background-color: var(--col-primary-light);}

.button-secondary {background-color: var(--col-secondary);}
.button-secondary:hover {background-color: var(--col-secondary-light);}

.button-confirm {background-color: var(--col-approve-dark);}
.button-confirm:hover {background-color: var(--col-approve);}

.button-default {background-color: var(--col-default);}
.button-default:hover {background-color: var(--col-default-light);}