@import url('https://fonts.googleapis.com/css?family=Cormorant|Playfair+Display+SC&display=swap');

:root {
  --font-main: 'Cormorant', serif;
  --font-title: 'Playfair Display SC', serif;
  --col-primary: brown;
  --col-primary-light: hsl(0, 65%, 50%);
}

body {
  background-color: black;
}

.sec-default {
  min-height: 512px;
  background-color: white;
  padding: 16px 10%;
}

h1, h2 {
  font-family: var(--font-title);
  font-weight: normal;
  text-align: center;
}

.divider {
  border-bottom: 2px dashed #CCC;
}

p {
  font-family: var(--font-main);
  text-indent: 32px;
}

.center-block {
  display: block;
  margin: 0 auto;
}
