.sec-landing {
  height: 100vh;
  width: 100vw;
  background: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  text-align: center;
}

/* The titleBox holds the title text and sub text */
.titleBox {
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 32px;
  text-shadow: 0 0 4px black;
}

.titleBox h1 {
  margin: 0;
}

.titleBox p {
  font-family: var(--font-title);
  margin: 0;
}